<a href="https://colab.research.google.com/github/pandeyyyy/Game_And_Auction_Theory_FEC/blob/main/game_theory_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First Price Sealed Bid Auction

In [ ]:
import numpy as np
import pandas as pd
import random
import math

In [ ]:
#############################
# Enter the number of players
n = 10

index = []
for i in range (1, n+1):
  index.append(i)
df = pd.DataFrame(index = index)

In [ ]:
random_data_1 = [random.randint(100, 500) for i in range (1, n+1)]
random_data_2 = [random.randint(100, 500) for i in range (1, n+1)]
df['r1_b1'] = random_data_1
df['r1_b2'] = random_data_2
df['r1_avg'] = (df['r1_b1'] + df['r1_b2'])/2
df.head(n)

    r1_b1  r1_b2  r1_avg
1     477    247   362.0
2     466    441   453.5
3     279    221   250.0
4     220    398   309.0
5     272    117   194.5
6     208    135   171.5
7     343    467   405.0
8     428    245   336.5
9     348    196   272.0
10    302    342   322.0

In [ ]:
##############################
# Calculating number of rounds
m = math.sqrt(df['r1_avg'].max() - df['r1_avg'].min())
no_of_rounds = max(math.floor(m), 5)
print('Number of Rounds to be played in the game = ', no_of_rounds)

Number of Rounds to be played in the game =  16

In [ ]:
for i in range (1, no_of_rounds):
  df['r' + str(i+1) + '_b1'] = [random.randint(100, 500) for i in range (1, n+1)]
  df['r' + str(i+1) + '_b2'] = [random.randint(100, 500) for i in range (1, n+1)]
  df['r' + str(i+1) + '_avg'] = [random.randint(100, 500) for i in range (1, n+1)]
df.head(n)

,r1_b1,r1_b2,r1_avg,r2_b1,r2_b2,r2_avg,r3_b1,r3_b2,r3_avg,r4_b1,...,r13_avg,r14_b1,r14_b2,r14_avg,r15_b1,r15_b2,r15_avg,r16_b1,r16_b2,r16_avg
1,477,247,362.0,459,412,282,442,239,201,280,...,396,231,223,321,116,468,406,398,441,237
2,466,441,453.5,136,352,140,398,483,198,404,...,109,426,423,442,244,290,197,350,223,151
3,279,221,250.0,393,429,401,216,449,263,399,...,377,444,429,285,116,400,182,145,438,355
4,220,398,309.0,429,452,147,198,325,309,486,...,294,106,431,477,438,109,396,390,339,225
5,272,117,194.5,154,433,162,169,105,422,474,...,223,170,493,181,215,119,354,100,227,234
6,208,135,171.5,191,284,307,404,236,473,420,...,406,107,239,354,124,211,379,220,323,254
7,343,467,405.0,256,114,400,450,166,453,348,...,277,249,257,204,339,367,473,264,254,443
8,428,245,336.5,340,323,387,153,449,337,389,...,453,475,301,280,381,133,378,243,431,432
9,348,196,272.0,101,210,312,136,285,147,216,...,189,487,119,467,237,288,303,140,462,396
10,302,342,322.0,198,437,158,471,241,248,348,...,167,358,265,228,333,143,428,127,338,461

In [ ]:
df['r_avg'] = df.sum(axis = 1)/(3 * no_of_rounds)
df.head(n)

,r1_b1,r1_b2,r1_avg,r2_b1,r2_b2,r2_avg,r3_b1,r3_b2,r3_avg,r4_b1,...,r14_b1,r14_b2,r14_avg,r15_b1,r15_b2,r15_avg,r16_b1,r16_b2,r16_avg,r_avg
1,477,247,362.0,459,412,282,442,239,201,280,...,231,223,321,116,468,406,398,441,237,317.625000
2,466,441,453.5,136,352,140,398,483,198,404,...,426,423,442,244,290,197,350,223,151,298.322917
3,279,221,250.0,393,429,401,216,449,263,399,...,444,429,285,116,400,182,145,438,355,311.562500
4,220,398,309.0,429,452,147,198,325,309,486,...,106,431,477,438,109,396,390,339,225,299.583333
5,272,117,194.5,154,433,162,169,105,422,474,...,170,493,181,215,119,354,100,227,234,287.322917
6,208,135,171.5,191,284,307,404,236,473,420,...,107,239,354,124,211,379,220,323,254,308.697917
7,343,467,405.0,256,114,400,450,166,453,348,...,249,257,204,339,367,473,264,254,443,333.187500
8,428,245,336.5,340,323,387,153,449,337,389,...,475,301,280,381,133,378,243,431,432,342.718750
9,348,196,272.0,101,210,312,136,285,147,216,...,487,119,467,237,288,303,140,462,396,290.500000
10,302,342,322.0,198,437,158,471,241,248,348,...,358,265,228,333,143,428,127,338,461,283.187500

In [ ]:
max_bid = df['r_avg'].max()
win_ind = df.index[df['r_avg']==max_bid].tolist()

In [ ]:
##########################
# Condition for tie
j = no_of_rounds
if(len(win_ind) > 1):
  dt = df.loc[df['r_avg'] == max_bid]
  while(len(win_ind) == 1 & j > 0):
    max_bid = dt['r' + str(j) + '_avg'].max()
    win_ind = dt.index[dt[df['r' + str(j) + '_avg']==max_bid]].tolist()
    j = j-1

win_index = random.choice(win_ind)

In [ ]:
##########################
# Winner of game
print('Winner is player', win_index)

##########################
# How much winner will pay
print('Winner will pay an amount of $'+ str(math.floor(df.loc[win_index, 'r_avg'])))

Winner is player 8
Winner will pay an amount of $342

In [ ]:
df.to_csv('output_1.csv', index=True)